<%= form_for @idea do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@idea.errors.count, "error") %> prohibited
        this idea from being saved:
      </h2>
      <ul>
        <% @idea.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong><%= f.label :title %></strong><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <strong><%= f.label :text %><br></strong>
    <%= f.text_area :text, {rows: "10", cols: "50"}%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', ideas_path %>
