<!DOCTYPE html>
<html>
<head>
  <title>Quiz3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <nav>
      <%= link_to "Home", root_path %>
      <%= link_to "Make a new Idea", new_idea_path %>
      <%= link_to "All Ideas", ideas_path %>
      <% if user_signed_in? %>
        Hello, <%= current_user.first_name %>
        <%= link_to "Sign Out", sessions_path, method: :delete %>
        <%= link_to 'Edit', edit_user_path(current_user) %>
      <% else %>
        <%= link_to "Sign Up", new_user_path %>
        <%= link_to "Sign In", new_session_path %>

      <% end %>
    </nav>
      </header>

<%= yield %>


</body>
</html>
